<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667181131208-tuhcdhpt6lq4b59htlodatrgcf7n0qvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667181131208-tuhcdhpt6lq4b59htlodatrgcf7n0qvr</string>
	<key>API_KEY</key>
	<string>AIzaSyAvnepNVxh2p9zMdZ8CNpbmda8DcRoSClc</string>
	<key>GCM_SENDER_ID</key>
	<string>667181131208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patryklaskowski.myShoppingList</string>
	<key>PROJECT_ID</key>
	<string>my-shopping-list-a200c</string>
	<key>STORAGE_BUCKET</key>
	<string>my-shopping-list-a200c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667181131208:ios:f4df0d969b19f248b4ccfd</string>
</dict>
</plist>